# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\anngu\Desktop\N4HK2\KhoaLuan\User\khoa_luan_tot_nghiep_toyskid\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
